/* soumyajit.css */

/* General Styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    color: #333;
}

header {
    padding: 30px;
    text-align: left;
}

.upper {
    display: inline-flex;
    align-items: center;
    font-size: 16px;
    color: #4733c7;
}

.upper-text {
    font-family: Poppins, sans-serif;
    font-weight: bold;
}

.banner {
    position: relative;
    height: 400px;
    background-image: url('network.jpg'); 
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner::before {
    content: '';
    background: linear-gradient(12deg, rgb(177, 169, 169) 2%, rgba(0,0,0,0.877) 100%);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.content {
    position: relative;
    z-index: 1;
    text-align: center;
    color: white;
}

.content h1 {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

.content p {
    font-size: 16px;
    max-width: 600px;
    margin: 0 auto;
}

/* Responsive Styles */
@media (max-width: 768px) {
    .content h1 {
        font-size: 36px;
    }

    .content p {
        font-size: 14px;
    }
}

@media (max-width: 480px) {
    .content h1 {
        font-size: 28px;
    }

    .content p {
        font-size: 12px;
    }
}
